<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}">
</head>
<div>
  
  <nav class="navbar navbar-inverse card text-white bg-primary mb-3">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <img src="{{ url_for('static', filename='css/logo.png') }}" alt="logo" width="80" height="60">
            </li>
            <li>
                    <a class="navbar-brand" href="/">To Do</a>
            </li>
        </ul>
    </div>
</nav>

<div class="wrapper fadeInDown">
<div class="row">
  <div class="col-md-6"><div id="formContent">
  <!-- Tabs Titles -->
  <div id="formFooter">
       <p style ="color:white"><strong>Lists</strong></p>
    </div>
 <section class="date">
  <!-- Icon --> 
  <div class="fadeIn first">
     <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
     <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_aKRZfw.json"  
       background="transparent" speed="1"  
       style="width: 300px; height: 300px;"  
       loop autoplay>
     </lottie-player>
  </div>
 </section>

  <div class="fadeInDown">
    <a href="/List" class="fadeIn fourth btn">Go to Lists</a>
  </div> 
</div></div>
  <div class="col-md-6"><div id="formContent">
    <!-- Tabs Titles -->
    <div id="formFooter">
         <p style ="color:white"><strong>Tasks</strong></p>
      </div>
   <section class="date">
    <!-- Icon --> 
    <div class="fadeIn first">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_hilg7ehf.json"
      background="transparent"  speed="1"
      style="width: 300px; height: 300px;"  
      loop autoplay>
    </lottie-player>
    </div>
   </section>
  
    <div class="fadeInDown">
       <a href="/Task" class="fadeIn fourth btn">Go to Tasks</a>
    </div> 
  </div></div>
</div>


</div>



</body>
    