<!DOCTYPE html>
<html lang="en">
    <head>
        <title>App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand " href="/">To Do</a>
                    </li>
                    <li>
                        <a class = "nav-link nav-link active" href="/List">Lists</a>
                    </li>
                    <li>
                        <a class = "nav-link nav-link active" href="/Task">Tasks</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %} 
        {% endblock %}
        
    </body>
    </html>