{% extends "layout.html" %}

{% block content %}




<tr>
    <td class="col-md-2">task</td>
     <td class="col-md-2">
       <a class="btn btn-default btn-xs accordion-toggle"  href="#"><span class="glyphicon glyphicon-check"></span></a>
       <a class="btn btn-default btn-xs" style=" margin-right: 10px !important;" href="#"><span style="color:blue;" class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default btn-xs" href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>


  {% endblock %}